# Python / virtual environment
__pycache__/
*.py[cod]
.venv/
env/

# Environment variables / Secrets
.env
.streamlit/

# Local Vector DB & Temp Data
Chroma/
.chromadb/
data/
*.pdf

# IDE / OS
.DS_Store
.vscode/
